<html>
	<head>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.2.min.js' ) }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/underscore-min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/backbone-min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/joystick_view.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/roslib.min.js' ) }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/eventemitter2.min.js' ) }}"></script>	
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js' ) }}"></script>
		<title>Anveshak</title>  
		<script type="text/javascript" type="text/javascript">
			// Connecting to ROS
			// -----------------
		  
			var ros = new ROSLIB.Ros({
			  url : 'ws://localhost:9090'
			});
		  
			ros.on('connection', function() {
			  console.log('Connected to websocket server.');
			});
		  
			ros.on('error', function(error) {
			  console.log('Error connecting to websocket server: ', error);
			});
		  
			ros.on('close', function() {
			  console.log('Connection to websocket server closed.');
			});

		  
			
		  </script>
	</head>
	
	<body>

	<script type="text/html" id="joystick-view">

	<canvas id="joystickCanvas" width="<%= squareSize %>" height="<%= squareSize %>" style="width: <%= squareSize %>px; height: <%= squareSize %>px;">
		</canvas>
	</script>

	<div id="joystickContent"></div>
	
	<button onclick="reset()">Reset</button>
	<button onclick="hb()">Brake</button>

	<div>
		x: <span id="xVal"></span><br/>
		y: <span id="yVal"></span><br/>
		brake: <span id="hb"></span><br/>
	</div>

	<script type="text/javascript">
		$(document).ready(function(){
			var joystickView = new JoystickView(150, function(callbackView){
				$("#joystickContent").append(callbackView.render().el);


				setTimeout(function(){
					callbackView.renderSprite();
				}, 0);
			});
			
			joystickView.bind("verticalMove", function(y){
				$("#yVal").html(y);
			});
			joystickView.bind("horizontalMove", function(x){
				$("#xVal").html(x);
			});
			
			reset();
			setInterval(fetchdata,100);
		});

			
			function reset(){
			document.getElementById('xVal').innerHTML = 0;
			document.getElementById('yVal').innerHTML = 0;
			document.getElementById('hb').innerHTML = 0;
			}
			
			function hb(){
			document.getElementById('hb').innerHTML = 1;
			}
			
			function fetchdata(){
			
					var g = document.getElementById('xVal').innerHTML;
					var d = document.getElementById('yVal').innerHTML;
					var m = document.getElementById('hb').innerHTML;

					var cmdVel = new ROSLIB.Topic({
						ros : ros,
						name : '/gg',
						messageType : 'traversal/WheelRpm'
						});
					
						var twist = new ROSLIB.Message({
							vel : parseInt(20*g) ,
							omega : parseInt(20*d) ,
							hb : Boolean(m==1)
						});
						cmdVel.publish(twist);

			}

		
	</script>
	
	</body>
</html>


